
<% if(page=='diceRoller'){%>
	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8" />
			<title>diceRoller</title>
			<link rel="stylesheet" href="./css/style.css" />
			<link rel="stylesheet" href="./css/diceRoller.css" />
	<% }else if (page=='home') { %>
		<!DOCTYPE html>
		<html lang="fr">
		<head>
			<meta charset="UTF-8" />
			<title>home</title>
			<link rel="stylesheet" href="./css/style.css" />

	<% }else if (page=='fourchette') { %>
		<!DOCTYPE html>
		<html lang="fr">
		<head>
			<meta charset="UTF-8" />
			<title>fourchette</title>
			<link rel="stylesheet" href="./css/style.css" />
	  <% } else if (page=='rpg') {%>
	  <!DOCTYPE html>
	  <html lang="fr">
	  <head>
		  <meta charset="UTF-8" />
		  <title>rpg</title>
		  <link rel="stylesheet" href="./css/style.css" />
		  <link rel="stylesheet" href="./css/rpg.css" />
	  <% } else if (page=='etchsketch') {%>
	  <!DOCTYPE html>
	  <html lang="fr">
	  <head>
		  <meta charset="UTF-8" />
		  <title>etchsketch</title>
		  <link rel="stylesheet" href="./css/style.css" />
		  <link rel="stylesheet" href="./css/etchsketch.css" />
		  <link rel="stylesheet" href="./css/reset.css" />
	  <% } %>

