<%- include('partials/header', {page: 'rpg'}); %>
<%- include('partials/nav')%>

<h3>RPG</h3>
<div id="board">

</div>
<script src="./js/rpg.js" charset="utf-8"></script>


<%- include('partials/footer')%>

